<%- include("header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/main.css">
    <title>Todeledo</title>
    </head>
    <body>
        <h1>Todeledo</h1>
    <form method="post">
    <input type="text" name="text" id="" value="<%=response.text%>">
    <input type="text" name="done" id="" value="<%=response.done%>">
    <input type="text" name="_id" id="" value="<%=response._id%>" hidden>
    <button type="submit">Update</button>

        </form>
    </body>
</html>